<h1>Thanks for checking out the ForeFinder API</h1>
<p>To view the production application click <a href="https://forefinder.herokuapp.com/dashboard">here</a></p>
<p>For more information on using this application please refer to the documentation on <a href="https://github.com/foreFinder/fore-finder-be">Github</a></p>
